* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Add font stack */
}
html {
  font-size: 20px;
}
body {
  min-height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: #222;
  color: #eee;
  padding: 1rem;
  margin:0;
}
h1,
h2 {
  /* Add font stack */
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
padding:1rem;

}
main {
  margin:0;
  padding:0;
}
/* Add other CSS to customize the interface and make it your own */

form p {
  padding-block: 0.5rem;
}
input {
  /* Add font stack */
  padding: 0.25rem 1rem;
  font-size: 1rem;
}
button {
  /* Add font stack */
  padding: 0.25rem 1rem;
  margin-block: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
pre,
code {
  font-size: 1rem;
  padding-block: 1rem;
}
ul {
  margin-block: 1rem;
}
li {
  list-style-position: inside;
  padding-block: 0.5rem;
}
#file_list {
  cursor: pointer;
  list-style-type: none;
}

.data_entry, .data_files ,.data_display{
  padding-bottom:3rem;
}

.data_entry{
  background-color:#EEF7F6 ;
}
.data_files{
  background-color:#B2F7EF ;
}
.data_display{
  background-color:#7BDFF2 ;
}

.hidden{
  display: none;
}


#file_list li:hover{
  cursor: pointer;
  color: orange;
}

#data_display_fileName{
  color: orange;
  font-size:1rem;
  text-decoration: underline;
}

#data_display_content{
  color: red;
  padding:1rem 0;
}